{% extends "base.html" %}

{% block title %}MiniRig – What we recommend{% endblock %}

{% block content %}
  <section class="page-title">
    <h1>What we recommend</h1>
    <p>Select compatible components for your small form factor build with our pre-configured recommendations.</p>
  </section>

  <div class="container main-content">
    <div class="cards-grid">
      <!-- Top row: AMD builds -->
      <!-- Low Budget AMD Build -->
      <div class="card">
          <div class="card-body" style="margin-left: 15%; width: 80%;">
            <img src="{{ url_for('static', filename='img/cases/Fractal_Terra.jpg') }}" alt="Fractal Design Terra" style="width: 80%; height: auto; margin-bottom: 1rem; margin-left: 15%; display: block;">
            
            <h3 class="card-title">Budget AMD Build</h3>
            <ul>
                <li>
                    <strong>CPU:</strong> AMD Ryzen 5 8400F - $148.95
                </li>
                <li>
                    <strong>Motherboard:</strong> ASRock A620I LIGHTNING WIFI - $139.99
                </li>
                <li>
                    <strong>Memory:</strong> G.SKILL Flare X5 32GB - $89.99
                </li>
                <li>
                    <strong>GPU:</strong> GUNNIR Intel Arc B580 Index 12GB - $341.00
                </li>
                <li>
                    <strong>Case:</strong> Fractal Design Terra Graphite Mini-ITX - $179.99
                </li>
                <li>
                    <strong>PSU:</strong> LIAN LI SP850 - $138.99
                </li>
                <li>
                    <strong>Storage:</strong> Crucial P310 1TB NVMe SSD - $73.55
                </li>
                <li>
                    <strong>CPU Cooler:</strong> AXP90-X47 Full Cooper - $42.95
                </li>
                <li>
                    <strong>Total:</strong> $1,155.41
                </li>
            </ul>
          </div>
        </div>

        
      <div class="card">
          <div class="card-body" style="margin-left: 15%; width: 80%;">
            <img src="{{ url_for('static', filename='img/cases/Fractal_Terra.jpg') }}" alt="Fractal Design Terra" style="width: 80%; height: auto; margin-bottom: 1rem; margin-left: 15%; display: block;">
            
            <h3 class="card-title">Mid Range AMD Build</h3>
            <ul>
                <li>
                    <strong>CPU:</strong> AMD Ryzen 7 9700X- $309 or 9900X - $409 if need more core
                </li>
                <li>
                    <strong>Motherboard:</strong> ASUS ROG STRIX B650E-I Gaming WiFi - $229.99
                </li>
                <li>
                    <strong>Memory:</strong> Team Group T-CREATE EXPERT 32GB - $92.99
                </li>
                <li>
                    <strong>GPU:</strong> ASUS PRIME Radeon RX 9070XT 16GB - $600 MSRP
                </li>
                <li>
                    <strong>Case:</strong> Fractal Design Terra Graphite Mini-ITX - $179.99
                </li>
                <li>
                    <strong>PSU:</strong> Cosair SF750 80 Plus Platinum (2024) - $179.99
                </li>
                <li>
                    <strong>Storage:</strong> WD_BLACK 2TB SN850X NVMe - $151.99
                </li>
                <li>
                    <strong>CPU Cooler:</strong> AXP90-X53 Full Cooper - $35.90
                </li>
                <li>
                    <strong>Total:</strong> $1,779.85
                </li>
            </ul>
          </div>
        </div>


  
      <div class="card placeholder">
        <div class="card-body">
          <h3 class="card-title">High End AMD Build</h3>
        </div>
      </div>
     </div>
    </div>
{% endblock %}